html,
body {
  background-color: #092340;
  margin: 0px;
  padding: 0px;
  background-color: var(--color-bg);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: none;
  -moz-text-size-adjust: none;
  text-size-adjust: none;
  overflow-x: hidden;
  overscroll-behavior-y: none;
}

a,
a:visited {
  color: #fff;
  text-decoration: none;
}

div.container:hover .label {
  opacity: 1;
}

div.container:hover audio {
  opacity: 1;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 100vw;
  height: calc(100vh - 1px);
  box-sizing: border-box;
  height: -webkit-fill-available;
}


audio {
  opacity: 0;
  margin-bottom: 1em;
  z-index: 2;
}

.label {
  position: absolute;
  top: 0.4em;
  left: 0.4em;
  z-index: 1;
  color: white;
  background: #092340;
  padding: 0.6em;
  border-radius: 0.6em;
  opacity: 0;
}

video {
  width: 100vw;
  height: 100vh;
  flex-grow: 1;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  object-position: center;
  position: absolute;
  top: 0;
  left: 0;
}
